SEARCH_KEY = 
TRANSLATOR_KEY=
TRANSLATOR_ENDPOINT="https://api.cognitive.microsofttranslator.com"
TRANSLATOR_LOCATION="westeurope"

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT="https://cdpaistudioservices.openai.azure.com/"
AZURE_API_VERSION="2024-08-01-preview"

#local
CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;
#prod
#CONNECTION_STRING
CONTAINER_NAME_RESULTS_EXT= "results-ext"
CONTAINER_NAME= "cdp-ext"

AMENDING_MODE=false
