# CONNECTION_STRING=
# CONTAINER="cdp"
# CONTAINER_EXT="cdp-ext"
# MODE=test #prod
# HARDCODED_USERNAME=
# HARDCODED_PASSWORD=
# IPVMAI="52.143.128.142"
# IPVMNER="4.178.179.107"
IPVMAI="4.178.170.102"
IPVMNER="52.143.143.241"

# API_BASE_URL=http://your-api-url
